
    #contact a, footer a {color: white; text-decoration: underline !important;}
    #contact .main-btn {text-decoration: none !important; }

textarea {font-family: monospace !important;}

.album-list {
padding: 0; background: transparent; display: flex; flex-wrap: wrap;
}

h1,h2,h3,h4,h5,h6 {font-weight: 700 !important;}

.list-group-item:hover{background: #383f47} 
.album-list li {display: inline-table; padding-right: 8px; padding-bottom: 8px; background: transparent; }

.album-list-album {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 97px;
  outline: 1px solid #333;
width: 97px;
text-align: center;
background: black;
	overflow: hidden; 
}

.album-list-album span {padding: 5px;}
.album-list-album a {
	color: white !important;
	font-size: 80%;
         word-break: break-all;
}


.a11y-helper {
			position: fixed;
			top: 1rem;
			left: -999em;
			z-index: 11;
			-moz-appearance: none;
			-webkit-appearance: none;
			background-color: transparent;
			border: 1px solid black;
			border-radius: 0.6rem;
			box-sizing: border-box;
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			max-width: 100%;
			display: inline-block;
			margin: 0;
			padding: 0.3em 0.8em;
			font-weight: 500;
			text-decoration: none;
			border-radius: 3rem;
			white-space: nowrap;
			background-color: transparent;
			color: blue !important;
			border: 1px solid red;
			transition: background-color 150ms ease;

			&:focus {
				left: 1rem;
				background: white;
				}
		}

		:focus-visible {
			outline: none;
			box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
			transition: box-shadow 0.6s ease;
		}

		.form-label, .form-check-label {font-weight: bold;}

    @media (prefers-color-scheme: dark) {
        body {
            background: #222;
            color: whitesmoke;
        }

        h1,h2,h3,h4,h5,h6 {
          color: whitesmoke;
        }

        .feature-section .single-feature .icon  {
          background: #eee;
        }

		.feature-extended-wrapper a {color: #a8d5ff;}

    }


